<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.booktodolist.plan.PlanMapper">

    <insert id="insBook">
        INSERT INTO book
        SET icate = #{icate}
        , title = #{title}
        , writer = #{writer}
        , publisher = #{publisher}
        , isbn = #{isbn}
        , addcode = #{addcode}
    </insert>

    <insert id="insTodoList">
        INSERT INTO b_list
        SET iuser = #{iuser}
        , ibook = #{ibook}
        , start_date = #{startDate}
        , finished_date = #{finishedDate}
        , memo = #{memo}
        , del_yn = #{del_yn}
        , finish_yn = #{finish_yn}
        , created_todo_date = current_timestamp()
        , bookmark = #{bookmark}
    </insert>

</mapper>