<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.booktodolist.todoList.TodoMapper">

    <select id="selUserLevel">
        select book_level
        from b_user
        where iuser = 1;
    </select>

    <select id="selTitle">
        SELECT B.title,A.bookmark,A.finish_yn
        FROM b_list A
        INNER JOIN book B
        ON A.ibook = B.ibook
        WHERE A.FINISH_yn = 0
    </select>

    <select id="selcategorylist">
        SELECT C.cate_name,A.itodo,B.title,A.bookmark,A.finish_yn,A.del_yn ,A.memo,A.start_date start,A.finished_date end,C.color
        FROM b_list A
        INNER JOIN book B
        on A.ibook = B.ibook
        INNER JOIN icategory C
        ON B.icate = C.icate

    </select>

    <select id="selNotFinish">
        SELECT A.itodo,B.title,A.bookmark,A.finish_yn
        FROM b_list A
        INNER JOIN book B
        ON A.ibook = B.ibook
        WHERE finish_yn = 0
    </select>

    <select id="selFinish">
        SELECT A.itodo,B.title,A.bookmark,A.finish_yn
        FROM b_list A
        INNER JOIN book B
        ON A.ibook = B.ibook
        WHERE finish_yn = 1
    </select>

    <select id="selDetail">
        SELECT A.created_todo_date createdTodo, C.cate_name catename ,B.title,B.writer,
        A.start_date,A.finished_date finishedDate,A.memo,A.finish_yn finishYn
        FROM b_list A
        INNER JOIN book B
        ON A.ibook = B.ibook
        INNER JOIN icategory C
        ON B.icate = C.icate
        WHERE itodo = #{itodo}
    </select>

    <update id="UpdTodo">
        UPDATE b_list
        SET start_date = #{start},
        finished_date = #{end},
        finish_yn = #{finish}
        WHERE itodo = #{itodo}
    </update>

    <update id = "DelTodo">
        update b_list
        set del_yn = 1
        where itodo = #{itodo}
    </update>



</mapper>