<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.booktodolist.todoList.TodoMapper">

    <select id="selUserLevel">
        select book_level
        from b_user
        where iuser = 1;
    </select>

    <select id="selTitle">
        SELECT A.itodo,B.title,A.bookmark,A.finish_yn finish
        FROM b_list A
        INNER JOIN book B
        ON A.ibook = B.ibook
        WHERE A.FINISH_yn = 0
    </select>

    <select id="selcategorylist">
        SELECT C.cate_name,A.itodo,B.title,A.bookmark,A.finish_yn finish,A.del_yn del ,A.memo,
        date_format(A.start_date, '%Y-%m-%d') start,date_format(A.finished_date, '%Y-%m-%d') end,C.color
        FROM b_list A
        INNER JOIN book B
        on A.ibook = B.ibook
        INNER JOIN icategory C
        ON B.icate = C.icate
        WHERE A.FINISH_yn = 0
        ORDER BY C.cate_name,A.itodo

    </select>

    <select id="selNotFinish">
        SELECT A.itodo,B.title,A.bookmark,A.finish_yn finish
        FROM b_list A
        INNER JOIN book B
        ON A.ibook = B.ibook
        WHERE finish_yn = 0
        order by A.itodo
    </select>

    <select id="selFinish">
        SELECT A.itodo,B.title,A.bookmark,A.finish_yn finish
        FROM b_list A
        INNER JOIN book B
        ON A.ibook = B.ibook
        WHERE finish_yn = 1
        order by A.itodo desc
    </select>

    <select id="selDetail">
        SELECT date_format(A.created_todo_date, '%Y-%m-%d') createdTodo , C.cate_name catename ,B.title,B.writer,
        date_format(A.start_date, '%Y-%m-%d') start,date_format(A.finished_date, '%Y-%m-%d')finish,A.memo,A.finish_yn finishYn
        FROM b_list A
        INNER JOIN book B
        ON A.ibook = B.ibook
        INNER JOIN icategory C
        ON B.icate = C.icate
        WHERE itodo = #{itodo}
    </select>

    <update id="UpdTodo">
        UPDATE b_list
        SET start_date = #{start},
        finished_date = #{end},
        finish_yn = #{finish}
        WHERE itodo = #{itodo}
    </update>

    <update id = "DelTodo">
        update b_list
        set del_yn = 1
        where itodo = #{itodo}
    </update>

</mapper>